@import "tailwindcss";

/* Mantemos a definição do tema dark */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --shadow-center: 0 0 12px -2px rgb(0 0 0 / 0.05);
  --animate-pulse-fast: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@plugin "daisyui" {
  themes:
    light,
    dark --prefersdark;
}

/* ---------------------------------
   TEMA CLARO (LIGHT)
   Cores de base: #FFFFFF e #F4F8FF
   --------------------------------- */
@plugin "daisyui/theme" {
  name: "light";

  --color-primary: #8115A7;           /* Roxo principal do botão/card */
  --color-primary-content: #FFFFFF;    /* Texto branco */
  --color-secondary: #9C27B0;          /* Roxo um pouco mais claro (para hover) */
  --color-secondary-content: #FFFFFF;
  --color-accent: #8115A7;             
  --color-accent-content: #FFFFFF;
  --color-neutral: #E5E7EB;            /* Usado para divisores e fundos subtis */
  --color-neutral-content: #212638;    /* Texto escuro (para texto que não está no card) */
  
  --color-base-100: #FFFFFF;           /* Fundo da página (Branco) */
  --color-base-200: #F4F8FF;           /* Fundo da lista de cards (Seu azul claro) */
  --color-base-300: #E5E7EB;           /* Bordas */
  --color-base-content: #212638;       /* Texto principal (preto/escuro) */
  
  --color-info: #3ABFF8;
  --color-success: #34eeb6;
  --color-warning: #ffcf72;
  --color-error: #ff8863;

  --radius-field: 9999rem;
  --radius-box: 1rem;
  --tt-tailw: 6px;
}
/* ---------------------------------
   TEMA ESCURO (DARK)
   Cores de base: Variações escuras do roxo (#8115A7)
   --------------------------------- */
@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #8115A7;           /* Roxo principal do botão/card */
  --color-primary-content: #FFFFFF;    /* Texto branco */
  --color-secondary: #9C27B0;          /* Roxo um pouco mais claro (para hover) */
  --color-secondary-content: #FFFFFF;
  --color-accent: #8115A7;             
  --color-accent-content: #FFFFFF;
  --color-neutral: #E5E7EB;            /* Usado para divisores e fundos subtis */
  --color-neutral-content: #212638;    /* Texto escuro (para texto que não está no card) */
  
  --color-base-100: #FFFFFF;           /* Fundo da página (Branco) */
  --color-base-200: #F4F8FF;           /* Fundo da lista de cards (Seu azul claro) */
  --color-base-300: #E5E7EB;           /* Bordas */
  --color-base-content: #212638;       /* Texto principal (preto/escuro) */
  
  --color-info: #3ABFF8;
  --color-success: #34eeb6;
  --color-warning: #ffcf72;
  --color-error: #ff8863;

  --radius-field: 9999rem;
  --radius-box: 1rem;
  --tt-tailw: 6px;
}